:root {
    --board-color: white;
    --line-color: rgb(240, 240, 245);
    --shadow-color: rgba(0, 0, 0,.1);
    
    --bg: radial-gradient(50% 50% at 50% 50%, rgba(242, 242, 242, 0.644) 0%, rgba(243, 243, 254, 0.92) 100%);
}


.light {
    background: rgb(225, 225, 225);

    --text-color: #111111;
    --line-color: rgb(240, 240, 245);
    --board-color: white;
    --bg: rgba(255, 255, 255, 0.5);
}

.dark {
    background: rgb(30, 30, 30);
    --text-color: white;
    --line-color: rgb(35, 35, 35);
    --board-color: rgb(31, 31, 31);
    --bg: rgba(0, 0, 0, 0.2);
}

$cell-size: 80px;
$mark-size: calc($cell-size* .9);
$border-size: 2px;
$board-padding: 10px;
$board-size: $cell-size * 3+$border-size * 2+2*$board-padding;

$restart-button-radius: 20px;

$x-color: linear-gradient(#EB3349, #F45C43);
$o-color: linear-gradient(#02aab0, #00cdac);

$mark-size: $cell-size - 4 * $board-padding;

@function shadow($opacity, $spread: 20px) {
    $result: 0 0 $spread rgba(0, 0, 0, $opacity);
    @return $result;
}

@keyframes pop-up {
    0% {
        transform: scale(0);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes mark-pop-up {
    0% {
        background-size: $mark-size * .4;
    }

    75% {
        background-size: $mark-size * 1.2;
    }

    100% {
        background-size: $mark-size;
    }
}

* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.center-child {
    display: grid;

    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.themes{
    cursor: pointer;
    
    background-color: var(--bg);
    border-radius: 7px;

    margin: 1rem 0;

    min-width: 20ch;
    text-align: center;
    transition: all .5s ease;

    p{
        color: var(--text-color);
        opacity: .7;
        transition: opacity .5s ease;

        user-select: none;
    }
    
    &:hover{
        box-shadow: 0 0 20px var(--shadow-color);
        p{
            opacity: 1;
        }
    }
}

body {
    background: var(--bg);
    
    color: var(--text-color);
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
    margin: 0;
    padding: 0;

    font-family: 'Roboto',
        sans-serif;

    #bg {
        filter: blur(200px);

        position: absolute;
        z-index: -1;
    }

    #container {
        width: $board-size;
    }


    button {
        text-transform: uppercase;
    }

    .top-bar {
        grid-template-columns: repeat(3, 1fr);
        padding: 0px 40px;

        svg {
            $size: 2rem;

            width: $size;
            height: $size;
        }

        #score {
            color: var(--text-color);

            display: inline-flex;
            font-size: $restart-button-radius;
            opacity: .8;

            font-size: 16px;
            font-weight: 600;
            font-family: 'Montserrat', sans-serif;
        }
    }

    .bottom-bar {
        display: grid;

        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;

        .restart {

            animation: pop-up .5s ease-in-out;

            background-color: transparent;
            border: none;

            border-radius: $restart-button-radius;
            width: $restart-button-radius * 2;
            height: $restart-button-radius *2;

            opacity: .6;

            transition: all .2s ease-in-out;

            i {
                transition: all .2s ease-in-out;
                color: var(--text-color);
                font-size: $restart-button-radius;
            }

            &:hover {
                opacity: 1;

                i {
                    transform: rotate(90deg);
                }
            }
        }
    }

    .board {
        margin: 40px 0;

        animation: pop-up .5s ease-in-out;

        background-color: var(--board-color);
        border-radius: 10px;
        box-shadow: shadow(.1);

        width: $board-size;
        height: $board-size;
        display: grid;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;

        grid-template-columns: repeat(3, auto);

        .cell {

            width: $cell-size;
            height: $cell-size;
            border: $border-size solid var(--line-color);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            cursor: pointer;

            font-size: 60px;
            line-height: 100px;

            * {
                position: absolute;
            }

            &:first-child,
            &:nth-child(2),
            &:nth-child(3) {
                border-top: none;
                border-bottom: none;
            }

            &:nth-child(3n + 1) {
                border-left: none;
                border-right: none;
            }

            &:nth-child(3n + 3) {
                border-right: none;
                border-left: none;
            }

            &:last-child,
            &:nth-child(8),
            &:nth-child(7) {
                border-bottom: none;
                border-top: none;
            }

            .mark {
                &.glow {
                    filter: blur(5px);
                    opacity: .4;
                }

                &:not(.glow) {
                    animation: pop-up .2s ease-in-out;
                }

                &.faded {
                    opacity: .6;
                }

                width: $mark-size;
                height: $mark-size;
            }
        }
    }

}

.contact {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    margin: 0;

    a {
        font-size: 20px;
        text-decoration: none;
        color: inherit;
        opacity: .7;

        &:hover {
            opacity: 1;
        }
    }
}